{
	"branches": [
		{"name": "release"},
		{"name": "master", "prerelease": "beta"}
	],
	"plugins": [
		["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"message": "*", "release": "patch"}
      ]
    }],
		["@codedependant/semantic-release-docker", {
      "dockerTags": ["{{version}}"],
      "dockerImage": "flourish",
      "dockerFile": "Dockerfile",
			"dockerLogin": false,
			"dockerPublish": false
    }]
	]
}