{
	branches: [
		{name: 'release'},
		{name: 'master', prerelease: 'beta'}
	],
	plugins: [
		['@codedependant/semantic-release-docker', {
      dockerTags: ['latest', '{{version}}', '{{major}}-latest', '{{major}}.{{minor}}'],
      dockerImage: 'Flourish',
      dockerFile: 'Dockerfile',
			dockerLogin: false,
			dockerPublish: false
    }]
	]
}